<div class="row">
  <div class="col-md-12">

    

    <h2> 购物车 </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">商品资讯</th>
          <th>单价</th>
          <th>数量</th>
          <th>操作選項</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                  <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <%= form_for cart_item , url: cart_item_path(cart_item.product_id) do |f| %>
                <% if cart_item.product.quantity <= 0 %>
                  無法購買已售完
                <% else %>
                  <%= f.select :quantity, 1..cart_item.product.quantity %>
                  <%= f.submit "更新",data: { disable_with: "Submiting..." } %>
                <% end %>
              <% end %>
            </td>
            <td>
             <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
             <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="total clearfix d-flex justify-content-end">
         <div>
          總計 <%= render_cart_total_price(current_cart) %> RMB
         </div>
    </div>

    <hr>

    <div class="d-flex">
        <div class="flex-grow-1">
          <%= link_to "清空購物車", clean_carts_path, method: "delete", class: "btn btn-lg btn-light pull-right", style: "", data: { confirm: "你確定要清除整個購物車嗎？" } %>
        </div>
        <div>
          <%= link_to("确认结账", checkout_carts_path, method: :get, class: "btn btn-lg btn-danger pull-right") %>
        </div>
    </div>

  </div>
</div>