<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ShoppingGo</a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path, class: "nav-link" do %>
            购物车 <i class="fas fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
          <% end %>
        </li>
        <% if !current_user %>
          <li class="nav-item"><%= link_to("註冊", new_user_registration_path, class: "nav-link") %> </li>
          <li>
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i> 登入
            <% end %>
          </li> 
        <% else %>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi!, <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if current_user.admin? %>
                <%= link_to("Admin 頁面", admin_products_path, class: "dropdown-item" ) %>
                <% end %>
                <%= link_to("Product 頁面", products_path, class: "dropdown-item" ) %>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i> 登出
                <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>